
body{
    
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{

    margin: auto;
}


.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

/*#mytarget*/
/*{*/
    /*background-color: #0000cc;*/
/*}*/

.carousel-control.left, .carousel-control.right{

    filter: progid:none !important;
}
